<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.xiaoyu.lemming.storage.mysql.mapper.LemmingTaskMapper">
    <sql id="Base_Column_List">
        a.id as id,
        a.task_id as taskId,
        a.task_group as
        taskGroup,
        a.app as app,
        a.rule as rule,
        a.transport as
        transport,
        a.call_type as callType,
        a.params as params,
        a.usable as
        usable,
        a.suspension as
        suspension
    </sql>

    <select id="getOneTask"
        resultType="com.xiaoyu.lemming.core.api.LemmingTask">
        select
        <include refid="Base_Column_List" />
        from biz_task as a
        where
        a.task_id =#{taskId}
        a.task_group =
        #{taskGroup}
        and a.usable =
        1
        and
        a.del_flag=0
    </select>

    <select id="getTasks"
        resultType="com.xiaoyu.lemming.core.api.LemmingTask"
        parameterType="com.xiaoyu.lemming.storage.mysql.query.LemmingTaskQuery">
        select
        <include refid="Base_Column_List" />
        from biz_task as a
        where
        a.del_flag=0
        <if test="app != null">
            and a.app = #{app}
        </if>
        <if test="taskId != null">
            and a.task_id = #{taskId}
        </if>
        <if test="taskImpl != null">
            and a.task_impl = #{taskImpl}
        </if>
        <if test="apps != null and apps.size > 0">
            and a.app in
            <foreach collection="apps" item="item" index="index"
                open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size > 0">
            and a.task_id in
            <foreach collection="taskIds" item="item"
                index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="pageSize > 0">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="count" resultType="java.lang.Long"
        parameterType="com.xiaoyu.lemming.storage.mysql.query.LemmingTaskQuery">
        select
        count(*)
        from biz_task as a
        where a.del_flag=0
        <if test="app != null">
            and a.app = #{app}
        </if>
        <if test="taskId != null">
            and a.task_id = #{taskId}
        </if>
        <if test="taskImpl != null">
            and a.task_impl = #{taskImpl}
        </if>
        <if test="apps != null and apps.size > 0">
            and a.app in
            <foreach collection="apps" item="item" index="index"
                open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size > 0">
            and a.task_id in
            <foreach collection="taskIds" item="item"
                index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="getUpdatedTasks"
        resultType="com.xiaoyu.lemming.core.api.LemmingTask"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from biz_task as a
        where
        a.update_date > TIMESTAMP(#{updateDate})
    </select>

    <insert id="insert"
        parameterType="com.xiaoyu.lemming.core.api.LemmingTask">
        insert into biz_task(
        task_id,
        task_impl,
        name,
        task_group,
        app,
        rule,
        transport,
        params,
        usable,
        suspension
        )
        values
        (
        #{item.taskId},
        #{item.taskImpl},
        #{item.name},
        #{item.taskGroup},
        #{item.app},
        #{item.rule},
        #{item.transport},
        <choose>
            <when test="item.params != null">
                #{item.params},
            </when>
            <otherwise>'',</otherwise>
        </choose>
        #{item.usable},
        #{item.suspension}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into biz_task(
        task_id,
        task_impl,
        name,
        task_group,
        app,
        rule,
        transport,
        params,
        usable,
        suspension
        )
        values
        <foreach collection="list" item="item" index="index"
            separator=",">
            (
            #{item.taskId},
            #{item.taskImpl},
            #{item.name},
            #{item.taskGroup},
            #{item.app},
            #{item.rule},
            #{item.transport},
            <choose>
                <when test="item.params != null">
                    #{item.params},
                </when>
                <otherwise>'',</otherwise>
            </choose>
            #{item.usable},
            #{item.suspension}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        update biz_task
        set
        update_date = now()
        where del_flag = 0
        <if test="list[0].id != null">
            and id in
            <foreach collection="list" item="item" index="index"
                open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
    </update>

    <!--log -->
    <insert id="insertLog"
        parameterType="com.xiaoyu.lemming.common.entity.LemmingTaskLog">
        insert into biz_task_log(
        trace_id,
        app,
        task_id,
        execution_host,
        dispatch_host,
        state,
        message
        )
        values
        (
        #{traceId},
        #{app},
        #{taskId},
        #{executionHost},
        #{dispatchHost},
        #{state},
        #{message}
        )
    </insert>

    <!-- taskCLient -->

    <select id="getTaskClients"
        resultType="com.xiaoyu.lemming.common.entity.LemmingTaskClient"
        parameterType="com.xiaoyu.lemming.storage.mysql.query.LemmingTaskClientQuery">
        select
        a.id as id,
        a.task_id as taskId,
        a.app as app,
        a.params as params,
        a.execution_host as executionHost,
        a.del_flag as delFlag
        from
        biz_task_client as a
        where
        1 = 1
        <if test="delFlag != null">
            and a.del_flag = #{delFlag}
        </if>
        <if test="app != null">
            and a.app = #{app}
        </if>
        <if test="taskId != null">
            and a.task_id = #{taskId}
        </if>
        <if test="apps != null and apps.size > 0">
            and a.app in
            <foreach collection="apps" item="item" index="index"
                open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size > 0">
            and a.task_id in
            <foreach collection="taskIds" item="item"
                index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="batchInsertTaskClients"
        parameterType="java.util.List">
        insert into biz_task_client(
        task_id,
        app,
        params,
        execution_host
        )
        values
        <foreach collection="list" item="item" index="index"
            separator=",">
            (
            #{item.taskId},
            #{item.app},
            #{item.params},
            #{item.executionHost}
            )
        </foreach>
    </insert>

    <update id="batchDeleteTaskClients"
        parameterType="java.util.List">
        update biz_task_client
        set
        del_flag = 1
        where del_flag = 0
        and id in
        <foreach collection="list" item="item" index="index"
            open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="batchUpdateTaskClients"
        parameterType="java.util.List">
        update biz_task_client
        set
        del_flag = 0
        where del_flag = 1
        and id in
        <foreach collection="list" item="item" index="index"
            open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>