<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.lemming.monitor.dao.LemmingTaskMapper">
    <sql id="Base_Column_List">
        a.id as id,
        a.name as name,
        a.task_id as taskId,
        a.task_group as
        taskGroup,
        a.app as app,
        a.rule as rule,
        a.task_impl as taskImpl,
        a.transport as
        transport,
        a.call_type as callType,
        a.params as params,
        a.usable as
        usable,
        a.suspension as
        suspension
    </sql>

    <select id="getTask" resultType="com.xiaoyu.lemming.core.api.LemmingTask">
        select
        <include refid="Base_Column_List" />
        from
        biz_task as a
        where
        a.task_id =#{taskId}
        and
        a.app = #{app}
        and
        a.del_flag=0
    </select>

    <select id="getTasks" resultType="com.xiaoyu.lemming.core.api.LemmingTask"
        parameterType="com.xiaoyu.lemming.monitor.common.query.LemmingTaskQuery">
        select
        <include refid="Base_Column_List" />
        from biz_task as a
        where
        a.del_flag=0
        <if test="app != null and app !='' ">
            and a.app = #{app}
        </if>
        <if test="taskId != null and taskId != '' ">
            and a.task_id = #{taskId}
        </if>
        <if test="taskImpl != null and taskImpl != '' ">
            and a.task_impl = #{taskImpl}
        </if>
        <if test="name != null and name != '' ">
            and a.name = #{name}
        </if>
        <if test="apps != null and apps.size > 0">
            and a.app in
            <foreach collection="apps" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size > 0">
            and a.task_id in
            <foreach collection="taskIds" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
        order by id desc
    </select>

    <select id="queryTasksByIds" resultType="com.xiaoyu.lemming.core.api.LemmingTask"
        parameterType="java.util.List">
        select
        <include refid="Base_Column_List" />
        from biz_task as a
        where
        a.del_flag=0
        <if test="list != null and list.size > 0">
            and a.id in
            <foreach collection="list" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
        limit 500
    </select>

    <insert id="insert" parameterType="com.xiaoyu.lemming.core.api.LemmingTask">
        insert into biz_task(
        task_id,
        task_impl,
        name,
        task_group,
        app,
        rule,
        transport,
        params,
        usable,
        suspension
        )
        values
        (
        #{item.taskId},
        #{item.taskImpl},
        #{item.name},
        #{item.taskGroup},
        #{item.app},
        #{item.rule},
        #{item.transport},
        <choose>
            <when test="item.params != null">
                #{item.params},
            </when>
            <otherwise>'',</otherwise>
        </choose>
        #{item.usable},
        #{item.suspension}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into biz_task(
        task_id,
        task_impl,
        name,
        task_group,
        app,
        rule,
        transport,
        params,
        usable,
        suspension
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.taskId},
            #{item.taskImpl},
            #{item.name},
            #{item.taskGroup},
            #{item.app},
            #{item.rule},
            #{item.transport},
            <choose>
                <when test="item.params != null">
                    #{item.params},
                </when>
                <otherwise>'',</otherwise>
            </choose>
            #{item.usable},
            #{item.suspension}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        update biz_task
        set
        usable =
        <if test="list[0].id != null">
            <foreach collection="list" item="item" index="index" open="(case id"
                close="end)" separator="">
                when #{item.id} then #{item.usable}
            </foreach>
        </if>
        ,suspension =
        <if test="list[0].id != null">
            <foreach collection="list" item="item" index="index" open="(case id"
                close="end)" separator="">
                when #{item.id} then #{item.suspension}
            </foreach>
        </if>
        where del_flag = 0
        <if test="list[0].id != null">
            and id in
            <foreach collection="list" item="item" index="index" open="(" separator=","
                close=")">
                #{item.id}
            </foreach>
        </if>
    </update>


    <update id="update" parameterType="com.xiaoyu.lemming.core.api.LemmingTask">
        update biz_task
        set
        usable = #{usable}
        , rule=#{rule},
        task_group=#{taskGroup},
        suspension =
        #{suspension}
        <if test="name != null and name !=''">
            ,name = #{name}
        </if>
        where
        del_flag = 0
        and id = #{id}
    </update>

    <!-- taksclient -->
    <sql id="Base_Client_List">
        a.task_id as taskId,
        a.app as app,
        a.host as host
    </sql>

    <select id="getTaskClients"
        resultType="com.xiaoyu.lemming.common.entity.LemmingTaskClient"
        parameterType="com.xiaoyu.lemming.monitor.common.query.LemmingTaskQuery">
        select
        <include refid="Base_Client_List" />
        from biz_task_client as a
        where
        a.del_flag=0
        <if test="app != null and app !='' ">
            and a.app = #{app}
        </if>
        <if test="taskId != null and taskId != '' ">
            and a.task_id = #{taskId}
        </if>
        <if test="apps != null and apps.size > 0">
            and a.app in
            <foreach collection="apps" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size > 0">
            and a.task_id in
            <foreach collection="taskIds" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- task log -->
    <sql id="Base_Log_List">
        a.task_id as taskId,
        a.app as app,
        a.host as host,
        a.trace_id as traceId,
        a.state as
        state,
        a.message as message,
        a.create_date
    </sql>

    <select id="getLogs" resultType="com.xiaoyu.lemming.common.entity.LemmingTaskLog"
        parameterType="com.xiaoyu.lemming.monitor.common.query.LemmingTaskQuery">
        select
        <include refid="Base_Log_List" />
        from biz_task_log as a
        where
        a.del_flag=0
        <if test="app != null and app !='' ">
            and a.app = #{app}
        </if>
        <if test="taskId != null and taskId != '' ">
            and a.task_id = #{taskId}
        </if>
        <if test="traceId != null and traceId != '' ">
            and a.trace_id = #{traceId}
        </if>
        <if test="startCDate != null and startCDate != '' ">
            and a.create_date &gt;= #{startCDate}
        </if>
        <if test="endCDate != null and endCDate != '' ">
            and #{endCDate} &gt;= a.create_date
        </if>
        <if test="apps != null and apps.size > 0">
            and a.app in
            <foreach collection="apps" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
        <if test="taskIds != null and taskIds.size > 0">
            and a.task_id in
            <foreach collection="taskIds" item="item" index="index" open="(" separator=","
                close=")">
                #{item}
            </foreach>
        </if>
        order by id desc
    </select>

</mapper>